beautifulsoup4==4.15.0
certifi==2026.6.17
charset-normalizer==3.4.7
distro==1.9.0
dotenv==0.9.9
et_xmlfile==2.0.0
greenlet==3.5.2
idna==3.18
numpy==2.5.0
openpyxl==3.1.5
pandas==3.0.3
psycopg2-binary==2.9.12
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
requests==2.34.2
six==1.17.0
soupsieve==2.8.4
SQLAlchemy==2.0.51
tabula-py==2.10.0
typing_extensions==4.15.0
urllib3==2.7.0
